@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">¡Bienvenido a Busco!</h1>
    <p>¡En esta aplicación usted podrá ver los mejores productos que ofrecen distintos vendedores!</p>
</div>
